  {% extends 'base.html' %}
  {% block title%}
  Записи сообщества {{ group.title}}
  {% endblock%}
  {% block content%}
    <div class="container py-5">
      <h1>Записи сообщества {{ group }} </h1>
      <p>{{ group.description|linebreaks }} </p>
      {% for post in posts%} 
      <article>
          <ul>
            <li>
              Автор: {{ post.author.get_username }}
            </li>
            <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p> {{ post.text }}</p>
          {% if not forloop.last  %} <hr> {% endif %}
      </article>  
      {% endfor %}
        <hr>
      </div>
 {% endblock%}
